:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.toolbar {
  .spacer {
    flex: 1;
  }
}

.sidenav {
    height: 100%;
    background: #eee;

    mat-sidenav {
        width: 240px;
        .section {
            font-weight: bold;
            padding: 0 8px;
            margin-top: 1em;
        }
        a.active {
            background: rgba(63,81,181,.15);
            &:hover {
                background: rgba(63,81,181,.3);
            }
        }
    }
    .content {
      padding: 1em;
      overflow: auto;
    }
  }